
/* Medium Screens: 992px - 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* General Layout Adjustments */
    .servces-one__img-box,
    .servces-one__bottom-right,
    .about-one__left,
    .about-two__left,
    .about-two__right,
    .why-choose-one__left,
    .why-choose-one__right,
    .contact-two__left,
    .contact-two__right,
    .event-one__left,
    .event-one__right,
    .blog-two__left,
    .blog-two__right,
    .about-three__left,
    .about-three__right,
    .why-choose-two__left,
    .why-choose-two__right,
    .faq-one__left,
    .faq-one__right,
    .about-four__left,
    .about-four__right,
    .services-four__left,
    .services-four__right,
    .team-two__left {
        max-width: 600px;
        margin: 0 auto;
    }

    .about-one__right,
    .about-two__right,
    .why-choose-one__right,
    .contact-two__right,
    .event-one__right,
    .about-three__right,
    .why-choose-two__right,
    .faq-one__right,
    .about-four__right,
    .services-four__right,
    .team-two__right {
        margin-top: 50px;
    }

    .about-one__left .section-title__title,
    .about-four__right .section-title__title,
    .services-four__right .section-title__title,
    .team-two__left .section-title__title {
        margin-right: 0;
    }

    .counter-one__bg-shape {
        width: 100%;
    }

    .portfolio-one__tag {
        left: 10px;
    }

    .portfolio-one__tag span {
        padding: 9px 15px 8px;
    }

    .process-one__left {
        margin-top: 0;
    }

    .process-one__right {
        margin-left: 0;
        margin-top: 30px;
    }

    .process-one__process-list::before {
        left: 37.6%;
    }

    .contact-one__right {
        margin-left: 0;
    }

    .team-one__shape-1,
    .testimonial-one__bg,
    .why-choose-one__shape-2,
    .contact-two__bg,
    .contact-two__shape-1,
    .why-choose-two__shape-2,
    .why-choose-two__shape-3 {
        display: none;
    }

    .brand-one {
        padding-left: 0;
    }

    .services-two__title {
        font-size: 20px;
    }

    .pricing-two__inner .row {
        --bs-gutter-x: 30px;
        justify-content: center;
    }

    .pricing-two__single-1,
    .pricing-two__single-3 {
        margin-top: 0;
        border-radius: 40px;
        border: 1px solid rgba(var(--netisflow-white-rgb), .10);
    }

    .pricing-two__single-3 {
        margin-top: 30px;
    }

    .newsletter-two__inner {
        flex-direction: column;
    }

    .newsletter-two__left {
        margin-bottom: 25px;
    }

    .services-three__single {
        padding: 30px 15px;
    }

    .services-three__title {
        font-size: 20px;
    }

    .why-choose-two {
        padding: 140px 0 134px;
    }

    .feature-one__single {
        padding: 40px 20px 39px;
    }

    .faq-one__img-box {
        margin-right: 0;
    }

    .feature-two__list {
        justify-content: center;
    }

    .feature-two__list li {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .feature-two__single {
        padding: 30px 20px 33px;
    }

    .why-choose-three__single-left {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        max-width: 600px;
        margin: 0 auto;
    }

    .why-choose-three__single {
        margin-bottom: 40px;
    }

    .why-choose-three__img {
        max-width: 600px;
        margin: 0 auto 50px;
    }

    .why-choose-three__img img {
        border-radius: 40px;
    }

    .why-choose-three {
        padding: 140px 0 94px;
    }

    .services-four__img-box {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .services-four__img,
    .services-four__img-2 {
        max-width: 255px;
        width: 100%;
    }

    .services-four__img-2 {
        position: relative;
        top: 65px;
        right: 0;
    }

    .blog-details__left {
        margin-right: 0;
    }

    .blog-details__points-and-img {
        gap: 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .blog-details__tag-and-share {
        flex-direction: column;
    }

    .blog-details__share-box {
        margin-top: 20px;
    }

    .blog-list__left,
    .blog-list__left--two {
        margin-right: 0;
        margin-left: 0;
    }

    .faq-two__left,
    .faq-two__right {
        max-width: 650px;
        margin: 0 auto;
    }

    .faq-two__left {
        margin-bottom: 50px;
    }

    .cta-two__left .section-title__title {
        font-size: 30px;
        line-height: 40px;
    }

    .cta-two__right {
        margin-left: 0;
        padding: 38px 20px 40px;
    }

    .portfolio-details__top-title {
        font-size: 50px;
        line-height: 60px;
    }

    .portfolio-details__portfolio-list,
    .portfolio-details__points-box-two {
        gap: 50px;
    }

    .services-details__left {
        margin-right: 0;
    }

    .services-details__points-list--two {
        margin-top: 20px;
    }

    .services-details__points-two--two {
        margin-top: 23px;
    }

    .team-details__left {
        margin-right: 90px;
    }

    .team-details__points-box {
        gap: 10px;
    }

    .skill-one__left {
        margin-right: 0;
    }

    /* Slider and Menu Adjustments */
    .main-slider__img,
    .main-slider-two__menu,
    .main-slider-two__social-box,
    .main-slider-two__shape-1 {
        display: none;
    }

    .main-slider__video-link {
        top: 150px;
        right: 255px;
    }

    .brand-two__inner {
        margin-left: 0;
        padding: 18px 20px;
    }

    .brand-two__left:before {
        display: none;
    }

    .main-menu__top-menu,
    .main-menu-two__top,
    .main-menu__contact-list li:first-child {
        display: none;
    }
}

/* Tablet Layout: 768px - 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* General Layout Adjustments */
    .servces-one__img-box,
    .servces-one__bottom-right,
    .about-one__left,
    .about-two__left,
    .about-two__right,
    .why-choose-one__left,
    .why-choose-one__right,
    .contact-two__left,
    .contact-two__right,
    .event-one__left,
    .event-one__right,
    .blog-two__left,
    .blog-two__right,
    .about-three__left,
    .about-three__right,
    .why-choose-two__left,
    .why-choose-two__right,
    .faq-one__left,
    .faq-one__right,
    .about-four__left,
    .about-four__right,
    .services-four__left,
    .services-four__right,
    .team-two__left {
        max-width: 600px;
        margin: 0 auto;
    }

    .about-one__right,
    .about-two__right,
    .why-choose-one__right,
    .contact-two__right,
    .event-one__right,
    .about-three__right,
    .why-choose-two__right,
    .faq-one__right,
    .about-four__right,
    .services-four__right,
    .team-two__right,
    .contact-one__right {
        margin-top: 50px;
    }

    .about-one__left .section-title__title,
    .about-four__right .section-title__title,
    .services-four__right .section-title__title,
    .team-two__left .section-title__title {
        margin-right: 0;
    }

    .counter-one__bg-shape {
        width: 100%;
    }

    .counter-one__wrap {
        margin: 0 10px;
    }

    .process-one__left {
        margin-top: 0;
    }

    .process-one__right {
        margin-left: 0;
        margin-top: 30px;
    }

    .process-one__process-list::before {
        left: 50.6%;
    }

    .team-one__shape-1,
    .testimonial-one__bg,
    .why-choose-one__shape-2,
    .contact-two__bg,
    .contact-two__shape-1,
    .why-choose-two__shape-2,
    .why-choose-two__shape-3,
    .process-two__shape-1,
    .process-two__shape-2 {
        display: none;
    }

    .brand-one {
        padding-left: 0;
    }

    .testimonial-one__bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .testimonial-one__trustpilot-box {
        margin-top: 30px;
    }

    .testimonial-one__text {
        font-size: 20px;
        line-height: 30px;
    }

    .testimonial-one__carousel.owl-carousel .owl-dots {
        left: -30px;
    }

    .newsletter-one__img {
        display: none;
    }

    .about-two__img-2 {
        right: -55px;
    }

    .services-two__services-list-single {
        flex-direction: column;
        gap: 25px;
    }

    .portfolio-two__content-box {
        left: 10px;
        right: 10px;
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .portfolio-two__title-2 {
        font-size: 25px;
        line-height: 35px;
    }

    .pricing-two__single-1,
    .pricing-two__single-3 {
        margin-top: 0;
        margin-bottom: 30px;
        border-radius: 40px;
        border: 1px solid rgba(var(--netisflow-white-rgb), .10);
    }

    .pricing-two__single-3 {
        margin-top: 30px;
    }

    .newsletter-two__inner {
        flex-direction: column;
    }

    .newsletter-two__left {
        margin-bottom: 25px;
    }

    .services-three__single {
        padding: 30px 15px;
    }

    .services-three__title {
        font-size: 20px;
    }

    .why-choose-two {
        padding: 140px 0 134px;
    }

    .cta-one__inner {
        flex-direction: column;
        text-align: center;
    }

    .cta-one__title {
        margin-bottom: 25px;
    }

    .faq-one__img-box {
        margin-right: 0;
    }

    .feature-two__list li {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .about-four__img-2 {
        right: -50px;
    }

    .why-choose-three__single-left {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        max-width: 600px;
        margin: 0 auto;
    }

    .why-choose-three__single {
        margin-bottom: 40px;
    }

    .why-choose-three__img {
        max-width: 600px;
        margin: 0 auto 50px;
    }

    .why-choose-three__img img {
        border-radius: 40px;
    }

    .why-choose-three {
        padding: 140px 0 94px;
    }

    .services-four__img-box {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .services-four__img,
    .services-four__img-2 {
        max-width: 255px;
        width: 100%;
    }

    .services-four__img-2 {
        position: relative;
        top: 65px;
        right: 0;
    }

    .blog-page .blog-one__user {
        left: -55px;
    }

    .blog-details__left {
        margin-right: 0;
    }

    .sidebar,
    .sidebar.sidebar--two {
        margin-top: 50px;
        margin-bottom: 0;
    }

    .faq-two__left,
    .faq-two__right {
        max-width: 650px;
        margin: 0 auto;
    }

    .faq-two__left {
        margin-bottom: 50px;
    }

    .cta-two {
        padding: 140px 0;
    }

    .cta-two__bg-color {
        top: 0;
    }

    .cta-two__left {
        margin-top: 0;
    }

    .cta-two__right {
        margin-top: 50px;
    }

    .portfolio-details__top {
        flex-direction: column;
        align-items: flex-start;
    }

    .portfolio-details__top-title {
        font-size: 45px;
        line-height: 55px;
    }

    .portfolio-details__get-touch {
        margin-top: 30px;
    }

    .portfolio-details__portfolio-list {
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .portfolio-details__portfolio-page li {
        gap: 30px;
    }

    .portfolio-details__points-box-two {
        gap: 30px;
    }

    .services-details__left {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .services-details__points-list--two {
        margin-top: 20px;
    }

    .services-details__points-two--two {
        margin-top: 23px;
    }

    .team-details__right {
        margin-top: 60px;
    }

    .skill-one__left {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .coming-soon-page {
        height: auto !important;
        padding: 110px 0 120px;
    }

    .coming-soon-page__content .big-title {
        font-size: 55px;
    }

    .coming-soon-page .timer-box .countdown-timer li {
        float: none;
    }

    .coming-soon-page .timer-box .countdown-timer li + li {
        margin-top: 20px;
    }

    .coming-soon-page__content {
        top: 0;
        transform: translateY(0);
    }

    .coming-soon-page__subscribe-box form {
        flex-direction: column;
    }

    /* Slider and Menu Adjustments */
    .main-slider__img,
    .main-slider__shape-2,
    .main-slider__shape-3,
    .main-slider__shape-4,
    .main-slider-two__menu,
    .main-slider-two__social-box,
    .main-slider-two__shape-1 {
        display: none;
    }

    .main-slider__video-link {
        top: 150px;
        right: 100px;
    }

    .main-slider .container {
        padding-top: 230px;
    }

    .brand-two__inner {
        margin-left: 0;
        padding: 18px 20px;
    }

    .brand-two__left:before {
        display: none;
    }

    .banner-one__title {
        font-size: 45px;
    }

    .banner-one {
        padding: 220px 0 0;
    }

    .main-menu__top,
    .main-menu-two__top {
        display: none;
    }

    .main-menu-two__wrapper-inner {
        padding: 0 30px;
    }
}

/* Mobile Layout: 320px - 767px */
@media only screen and (max-width: 767px) {
    /* General Layout Adjustments */
    .section-title {
        margin-bottom: 38px;
    }

    .section-title__title {
        font-size: 25px;
        line-height: 35px;
        margin-top: 10px;
    }

    .servces-one__top {
        margin-bottom: 30px;
    }

    .servces-one__top-right {
        margin-top: 30px;
    }

    .servces-one__img-box {
        margin-right: 0;
    }

    .services-one__services-single {
        flex-direction: column;
        align-items: flex-start;
    }

    .services-one__count-and-content {
        margin-bottom: 20px;
    }

    .servces-one {
        padding: 80px 0 61px;
    }

    .about-one__btn-and-call-box {
        flex-direction: column;
        align-items: flex-start;
    }

    .about-one__right {
        margin-left: 0;
        margin-top: 50px;
    }

    .about-one__left-img-box,
    .about-one__right-img-box {
        margin-right: 0;
        margin-left: 0;
        margin-top: 0;
    }

    .about-one__right-img-box {
        margin-top: 50px;
    }

    .about-one {
        padding: 80px 0 0;
    }

    .counter-one__bg-shape,
    .process-one__process-list::before,
    .process-one__process-content::before,
    .team-one__shape-1,
    .testimonial-one__bg,
    .newsletter-one__img,
    .main-slider__img,
    .main-slider__video-link,
    .main-slider__shield-check-icon,
    .main-slider__shape-1,
    .main-slider__shape-2,
    .main-slider__shape-3,
    .main-slider__shape-4,
    .main-slider-two__menu,
    .main-slider-two__social-box,
    .main-slider-two__shape-1,
    .contact-two__bg,
    .contact-two__shape-1,
    .process-two__shape-1,
    .process-two__shape-2,
    .services-four__img-2,
    .blog-details__single-content::before,
    .blog-details__meta li::before,
    .blog-list__content::before,
    .cta-two__right::before {
        display: none;
    }

    .counter-one__wrap {
        margin: 0 10px;
    }

    .counter-one {
        padding: 80px 0 0;
    }

    .portfolio-one__top,
    .portfolio-one__content,
    .main-slider__btn-and-trustpilot-box,
    .main-slider-two__btns-box,
    .event-one__top,
    .event-one__title-and-countdown-box,
    .event-one__meta-and-btn-box,
    .blog-details__meta,
    .blog-details__tag-and-share,
    .blog-details__prev-and-next,
    .portfolio-details__top,
    .portfolio-details__portfolio-list,
    .portfolio-details__points-box-two,
    .team-details__points-box,
    .team-details__social-box,
    .about-two__points-box,
    .about-two__experience-contact-and-btn,
    .about-three__btn-and-call-box,
    .about-four__points-box,
    .newsletter-two__inner,
    .testimonial-one__bottom,
    .testimonial-one__single,
    .services-two__top,
    .services-two__services-list-single,
    .services-two__services-list-inner,
    .blog-two__single-two,
    .cta-one__inner {
        flex-direction: column;
        align-items: flex-start;
    }

    .portfolio-one__round-text-box,
    .event-one__top-btn-box {
        top: 0;
        margin-top: 20px;
    }

    .portfolio-one__arrow,
    .event-one__btn-box,
    .blog-details__share-box,
    .blog-details__next-box {
        margin-top: 20px;
    }

    .portfolio-one {
        padding: 80px 0 70px;
    }

    .process-one__left {
        margin-top: 0;
    }

    .process-one__right {
        margin-left: 0;
        margin-top: 50px;
    }

    .process-one__process-list li,
    .process-one__process-list li:nth-child(2) {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .process-one__process-list li:nth-child(2) {
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    .process-one__process-list li + li {
        margin-top: 20px;
    }

    .process-one {
        padding: 80px 0 70px;
    }

    .contact-one__right {
        margin-left: 0;
        margin-top: 50px;
    }

    .contact-one__left {
        padding: 40px 10px 30px;
    }

    .contact-one {
        padding: 80px 0 70px;
    }

    .team-one__carousel.owl-carousel .owl-dots,
    .testimonial-one__carousel.owl-theme .owl-nav,
    .testimonial-one__carousel.owl-carousel .owl-dots,
    .blog-one__carousel.owl-carousel .owl-dots,
    .team-two__carousel.owl-theme .owl-nav {
        display: none;
    }

    .team-one {
        padding: 80px 0 40px;
    }

    .sliding-text-two__wrap {
        padding-top: 50px;
    }

    .pricing-one__single {
        padding: 43px 15px 45px;
    }

    .pricing-one {
        padding: 80px 0 50px;
    }

    .brand-one {
        padding-left: 0;
        margin-top: 80px;
    }

    .brand-one__left {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 30px;
    }

    .testimonial-one__trustpilot-box {
        margin-top: 30px;
    }

    .testimonial-one__text {
        font-size: 20px;
        line-height: 30px;
    }

    .testimonial-one {
        padding: 80px 0 0;
    }

    .newsletter-one__inner {
        padding: 75px 15px 60px;
    }

    .newsletter-one {
        padding: 80px 0 0;
    }

    .newsletter-three {
        padding: 80px 0 80px;
    }

    .newsletter-one__title {
        font-size: 40px;
    }

    .newsletter-one__contact-input-box {
        flex-direction: column;
    }

    .blog-one__carousel.owl-theme .owl-nav {
        position: relative;
        padding-top: 40px;
    }

    .blog-one {
        padding: 80px 0 80px;
    }

    .about-two__left {
        margin-right: 0;
        margin-top: 0;
    }

    .about-two__img-2 {
        position: relative;
        bottom: 0;
        right: 0;
        margin-top: 30px;
    }

    .about-two__client-box {
        margin-left: 0;
    }

    .about-two__right {
        margin-top: 50px;
    }

    .about-two__experience-box::before,
    .about-two__call-box::before {
        display: none;
    }

    .about-two {
        padding: 80px 0 80px;
    }

    .services-two__round-text-box {
        top: 0;
        margin-top: 27px;
    }

    .services-two__hover-img {
        display: none;
    }

    .services-two__count-and-title {
        gap: 10px;
    }

    .services-two {
        padding: 80px 0 80px;
    }

    .why-choose-one__left .section-title__title {
        margin-right: 0;
    }

    .why-choose-one__btn-and-client-info {
        gap: 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .why-choose-one__right {
        margin-left: 0;
        margin-right: 0;
        margin-top: 60px;
    }

    .why-choose-one {
        padding: 80px 0 0;
    }

    .process-two ul li:nth-child(1),
    .process-two ul li:nth-child(3) {
        margin-top: 0;
    }

    .process-two .section-title {
        margin-bottom: 38px;
    }

    .process-two {
        padding: 80px 0 50px;
    }

    .portfolio-two__content-box {
        left: 10px;
        right: 10px;
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .portfolio-two__title-2 {
        font-size: 25px;
        line-height: 35px;
    }

    .pricing-two__inner {
        margin-left: 0;
        margin-right: 0;
    }

    .pricing-two__single {
        padding: 40px 10px;
    }

    .pricing-two__single-1,
    .pricing-two__single-3 {
        margin-top: 0;
        margin-bottom: 30px;
        border-radius: 40px;
        border: 1px solid rgba(var(--netisflow-white-rgb), .10);
    }

    .pricing-two__single-3 {
        margin-top: 30px;
    }

    .pricing-two {
        padding: 80px 0 80px;
    }

    .contact-two__left {
        margin-left: 0;
    }

    .contact-two__right {
        margin-top: 50px;
        padding: 35px 15px;
    }

    .contact-two__contact-list li .content p {
        font-size: 20px;
        line-height: 30px;
    }

    .contact-two {
        padding: 140px 0 80px;
    }

    .event-one__title {
        margin-bottom: 15px;
    }

    .event-one {
        padding: 80px 0 50px;
    }

    .testimonial-two {
        padding: 80px 0 80px;
    }

    .blog-two__left {
        margin-right: 0;
    }

    .blog-two__content,
    .blog-two__content-two {
        padding-left: 50px;
    }

    .blog-two__user-two {
        left: -55px;
    }

    .blog-two__content-two {
        margin-top: 20px;
    }

    .blog-two__meta-two li + li {
        margin-left: 10px;
    }

    .blog-two__meta-two li::before {
        left: -18px;
    }

    .blog-two {
        padding: 80px 0 40px;
    }

    .newsletter-two__left {
        margin-bottom: 25px;
        text-align: center;
    }

    .newsletter-two__input input[type="email"] {
        padding: 0 15px;
    }

    .newsletter-two__form .thm-btn {
        position: relative;
        top: 0;
        right: 0;
        margin-top: 10px;
    }

    .about-three__left {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .about-three {
        padding: 80px 0 72px;
    }

    .services-three__single {
        padding: 30px 15px;
    }

    .services-three__title {
        font-size: 20px;
    }

    .services-three {
        padding: 80px 0 80px;
    }

    .why-choose-two__left {
        margin-top: 0;
        margin-right: 0;
    }

    .why-choose-two__right {
        margin-top: 50px;
    }

    .why-choose-two {
        padding: 80px 0 74px;
    }

    .feature-one__single {
        padding: 40px 20px 39px;
    }

    .feature-one {
        padding: 80px 0 50px;
    }

    .cta-one__title {
        margin-bottom: 25px;
        font-size: 25px;
    }

    .faq-one__img-box {
        margin-right: 0;
    }

    .faq-one__right {
        margin-top: 50px;
    }

    .faq-one__experience-box {
        right: 0;
    }

    .faq-one .faq-one-accrodion .accrodion-title {
        padding: 25px 25px 25px 50px;
    }

    .faq-one .faq-one-accrodion .accrodion-title h4 {
        font-size: 20px;
    }

    .faq-one .faq-one-accrodion .accrodion-title h4::before {
        right: -30px;
    }

    .faq-one {
        padding: 80px 0 80px;
    }

    .feature-two__list li {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .feature-two {
        padding: 80px 0 0;
    }

    .about-four__left {
        margin-right: 0;
        margin-top: 0;
    }

    .about-four__img-2 {
        position: relative;
        right: 0;
        bottom: 0;
        margin-top: 30px;
    }

    .about-four__img-2 img {
        width: 100%;
    }

    .about-four__right {
        margin-top: 50px;
    }

    .about-four__points-list li + li {
        margin-top: 20px;
    }

    .about-four__experience {
        right: 0;
    }

    .about-four {
        padding: 80px 0 70px;
    }

    .why-choose-three__single-left {
        margin-top: 0;
    }

    .why-choose-three__single {
        margin-bottom: 30px;
    }

    .why-choose-three__img {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .why-choose-three__img img {
        border-radius: 40px;
    }

    .why-choose-three {
        padding: 80px 0 40px;
    }

    .team-two__right {
        margin-right: 0;
        margin-top: 50px;
    }

    .team-two {
        padding: 80px 0;
    }

    .services-four__left {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .services-four__points-box li {
        gap: 10px;
    }

    .services-four {
        padding: 80px 0 73px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .services-four::before {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .blog-page {
        padding: 80px 0 80px;
    }

    .blog-one__user {
        left: -65px;
    }

    .blog-one__content {
        padding-left: 50px;
    }

    .blog-details__user {
        position: relative;
        top: 0;
        left: 0;
        transform: rotate(0deg);
    }

    .blog-details__user-img {
        transform: rotate(0deg);
    }

    .blog-details__single-content {
        padding: 24px 15px 22px;
    }

    .blog-details__author-box {
        padding: 37px 15px 34px;
    }

    .blog-details__points-and-img {
        gap: 30px;
        flex-direction: column;
        align-items: flex-start;
    }

    .blog-details__tag {
        flex-direction: column;
        margin-bottom: 15px;
    }

    .comment-one__title {
        font-size: 35px;
        line-height: 45px;
    }

    .comment-one__single-inner {
        padding: 27px 15px 25px;
    }

    .comment-one__single {
        flex-direction: column;
        align-items: flex-start;
    }

    .sidebar {
        margin-top: 50px;
    }

    .blog-details {
        padding: 80px 0 0;
    }

    .blog-list__content {
        padding-left: 0;
    }

    .blog-list__user {
        position: relative;
        top: 0;
        left: 0;
        transform: rotate(0deg);
        margin-bottom: 15px;
    }

    .blog-list__user-img {
        transform: rotate(0deg);
    }

    .blog-list__meta li a {
        font-size: 16px;
    }

    .blog-list__single-2 .blog-list__content {
        padding: 23px 10px;
    }

    .blog-list__single-2 .blog-list__user {
        top: 0;
        left: 0;
    }

    .blog-list__single-2 .blog-list__meta li + li {
        margin-left: 7px;
    }

    .blog-list__title {
        font-size: 27px;
    }

    .blog-list {
        padding: 80px 0 80px;
    }

    .blog-list__left--two {
        margin-left: 0;
    }

    .sidebar.sidebar--two {
        margin-top: 0;
        margin-bottom: 50px;
    }
    .cta-two {
        padding: 80px 0;
    }

    .cta-two__bg-color {
        top: 0;
    }

    .cta-two__left {
        margin-top: 0;
    }

    .cta-two__right {
        margin-top: 50px;
        padding: 38px 15px 40px;
    }

    .portfolio-page {
        padding: 80px 0 80px;
    }

    .portfolio-details__top-title {
        font-size: 30px;
        line-height: 40px;
    }

    .portfolio-details__social-box {
        gap: 10px;
    }

    .portfolio-details__social a {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    .portfolio-details__get-touch {
        margin-top: 30px;
    }

    .portfolio-details__portfolio-page li {
        gap: 20px;
    }

    .services-details__left {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .services-details__need-help-number {
        font-size: 22px;
        line-height: 28px;
        margin-top: 5px;
    }

    .services-details__title-1 {
        font-size: 30px;
        line-height: 40px;
    }

    .services-details__title-2 {
        font-size: 25px;
    }

    .services-details {
        padding: 80px 0 73px;
    }

    .team-page {
        padding: 80px 0 0;
    }

    .team-details__left {
        margin-right: 0;
    }

    .team-details__experience-box {
        position: relative;
        bottom: 0;
        right: 0;
        margin-top: 30px;
    }

    .team-details__right {
        margin-top: 60px;
    }

    .team-details {
        padding: 80px 0 80px;
    }

    .skill-one__left {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .skill-one {
        padding: 80px 0 80px;
    }

    .page-header__inner h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .page-header {
        padding: 181px 0 80px;
    }

    .error-page__img img {
        width: 100%;
    }

    .error-page__content {
        margin-top: 20px;
    }

    .error-page {
        padding: 80px 0 80px;
    }

    .coming-soon-page {
        height: auto !important;
        padding: 70px 0 80px;
        border-left: 20px solid rgba(var(--fistudy-base-rgb), .10);
        border-right: 20px solid rgba(var(--fistudy-base-rgb), .10);
    }

    .coming-soon-page__content .big-title {
        font-size: 35px;
    }

    .coming-soon-page__subscribe-box form {
        flex-direction: column;
    }

    .gallery-page {
        padding: 80px 0 70px;
    }

    .testimonials-page {
        padding: 80px 0 50px;
    }

    /* Slider and Menu Adjustments */
    #main-slider-pagination {
        display: none;
    }

    .main-slider__title {
        font-size: 35px;
    }

    .main-slider .container {
        padding-top: 190px;
        padding-bottom: 76px;
    }

    .main-slider-two__title {
        font-size: 35px;
    }

    .main-slider-two .container {
        padding-top: 190px;
    }

    .brand-two__inner {
        margin-left: 0;
        padding: 18px 15px;
        flex-direction: column;
    }

    .brand-two__left:before,
    .main-slider-two__nav {
        display: none;
    }

    .main-slider__trustpilot-box {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;
    }

    .banner-one__title {
        font-size: 30px;
    }

    .banner-one {
        padding: 180px 0 0;
    }

    .main-menu__top,
    .main-menu__right,
    .main-menu-two__top,
    .main-menu-two__right {
        display: none;
    }

    .main-menu-two__wrapper-inner {
        padding: 0 15px;
    }
}
/* Very Small Mobile Screens: ≤400px */
@media only screen and (max-width: 400px) {
    .portfolio-one__tag {
        left: 10px;
    }

    .portfolio-one__tag span {
        padding: 9px 15px 8px;
    }
}

/* Specific Large Screens: 1320px - 1400px */
@media only screen and (min-width: 1320px) and (max-width: 1400px) {
    .counter-one__text {
        font-size: 17px;
    }
}

/* Specific Large Screens: 1320px - 1435px */
@media only screen and (min-width: 1320px) and (max-width: 1435px) {
    .portfolio-one__tag {
        left: 10px;
    }

    .portfolio-one__tag span {
        padding: 9px 15px 8px;
    }
}

/* Specific Large Screens: 1200px - 1470px */
@media only screen and (min-width: 1200px) and (max-width: 1470px) {
    .main-menu-two__top-inner {
        padding: 19px 30px;
    }

    .main-menu-two__contact-list li:first-child,
    .main-menu-two__search-box {
        display: none;
    }

    .main-menu-two__wrapper-inner {
        padding: 0 30px;
    }
}

/* Specific Large Screens: 1200px - 1500px */
@media only screen and (min-width: 1200px) and (max-width: 1500px) {
    .main-slider-two__menu,
    .main-slider-two__social-box,
    .main-slider-two__shape-1 {
        display: none;
    }

    .brand-two__inner {
        margin-left: 0;
        padding: 18px 20px;
    }
}

/* Specific Large Screens: 1200px - 1330px */
@media only screen and (min-width: 1200px) and (max-width: 1330px) {
    .brand-two__left:before {
        display: none;
    }
}